In [3]:
from mordred import Calculator, descriptors
from rdkit import Chem

calc=Calculator(descriptors, ignore_3D=True)

len(calc.descriptors)

1613

In [2]:
import numpy as np
import pandas as pd

df = pd.read_csv('Data/SweetpredDB.csv')
df.head()

,Name,Test_ID,Smiles,Sweetness,logSw
0,"1',4',6'-3Cl-sucrose",test_1,ClC1C(O)[C@@](OC1CCl)(OC1OC(CO)C(O)C(O)C1O)CCl,10000.0,4.00
1,"1',4'-2Cl-sucrose",test_2,ClC1C(O)[C@@](OC1CO)(OC1OC(CO)C(O)C(O)C1O)CCl,3000.0,3.48
2,"1',6'-2Cl-sucrose",test_3,ClCC1O[C@](OC2OC(CO)C(O)C(O)C2O)(CCl)C(O)C1O,7800.0,3.89
3,1'-Cl-sucrose,test_4,ClC[C@]1(OC(CO)C(O)C1O)OC1OC(CO)C(O)C(O)C1O,2000.0,3.30
4,"4'-Br-4,1',6'-3Cl-sucrose",test_5,BrC1C(O)[C@@](OC1CCl)(OC1OC(CO)C(Cl)C(O)C1O)CCl,325000.0,5.51

In [5]:
# making a seperate .smi file of Test_ID and Smiles
df_smiles = df['Smiles']
df_smiles.to_csv('Data/SweetpredDB_smiles.smi', sep='\t', index=False, header=False)